{% extends "base.html" %}

{% block title %}
    Accept Connection
{% endblock %}

{% block content %}
    <div class="well col-md-6">
        <p>User <strong>{{ connection_request.from_user }}</strong> would like to be mentored by you.
            He/she included the following message:</p>

        <blockquote> <p> {{ connection_request.message }} </p></blockquote>
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" name="accept" value="ok">Accept</button>
            <button type="submit" name="accept" value="ok">Deny</button>
        </form>
    </div>
{% endblock %}

